<hr>
<h4>Search results</h4>
<br>
<ul>
  <% @results.each do |result| %>
    <li>
      <em>
        <%= link_to result.name, restaurant_path(result.id) %>
      </em>
      , <%= result.address%>
      , <%= result.location%>
    </li>
  <% end %>
</ul>



<!-- t.text "name"
t.text "address"
t.text "location"
t.text "url_website"
t.integer "user_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.float "latitude"
t.float "longitude" -->
