<hr>
<h4>Search results</h4>
<br>
<ul>
  <% @results.each do |result| %>
    <li>
      <em>
        <%= link_to result.name, restaurant_path(result.id) %>
      </em>
      , <%= result.address%>
      , <%= result.location%>
    </li>
  <% end %>
</ul>
<script>
 var restaurant_locations = <%= @results.to_json.html_safe %>;

 function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 80,
   });

   var bounds = new google.maps.LatLngBounds();

   for( let i=0; i < restaurant_locations.length; i++ ){
     let restaurant = restaurant_locations[i];
     let m = new google.maps.Marker({
       position: restaurant,
       map: map
     });
     bounds.extend(restaurant);
   }

   map.fitBounds(bounds); // this does the auto-centering

  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHewMmcudJqvttFYpTrQ-rnh4lM7abFtA&callback=initMap"
type="text/javascript"></script>
